/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*共通部分*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /*共通部分・ヘッダー*/
header{
	width:100%;
	background-color: #2f4f4f;
	height: 60px;
}
.header-body{
	margin-left: 20px;
	line-height:60px;
	color: white;
}
.container{
	width:90%;
	margin:0 auto;

}

/*トップページ*/
.top-page{
	width:100%;
}
.top-text{
	width:90%;
	margin: 150px auto 0;
	text-align: center;
}
.top-item{
	display:inline-block;
}
.top-text h1{
	font-size: 80px;
	padding-bottom: 30px;
}
.top-text p{
	font-size: 20px;
	padding-bottom: 20px;
}
/*投稿一覧ページ*/
.index-title{
	text-align: center;
	padding-bottom: 30px;
}
.index-title h1{
	display:inline-block;
}
table{
	width:90%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.post-title,.post-body{
	padding: 5px;
}
.post-title{
	width:25%;
}
.post-body{
	width:65%;
}
.new-body{
	text-align: center;
}






